<h1>Punctuation</h1>
<h2>or Supervillain?</h2>
<form action="/result" method="POST">

<div class="form_container">
<% @quiz.questions.each_with_index do |item, index| %>
   <br />
   <label for=<%= "choice#{index.to_s}" %>> <%= item[:name] %></label>
   <input class="option" type="radio" id=<%= "choice#{index.to_s}" %> name= <%= "guess#{index.to_s}"%> value=<%=item[:type] == "Villain"? 1 : 0 %>> Villain</input>
    <input class="option" type="radio" id=<%= "choice#{index.to_s}" %> name= <%= "guess#{index.to_s}"%> value=<%=item[:type] == "Punctuation"? 1 : 0 %>> Punctuation</input>
   </select>
   <br />
<% end %>


  <button type="submit" value="Respond">Guess</button>

</form>
</div>

