<head>
      <meta  <%= "http-equiv='refresh' content='0.6'" unless @local_game.pause %> >
</head>

<h1>Generation <%= @local_game.tick_count %> </h1>

<div id="board_container">
  <% while @row_counter < @local_game.width %>
  <div id="row_container">
    <%@local_game.board[@row_counter].each do |cell|%>
       <div class="cell" style="background: rgb(<%= cell.red%>, <%=cell.green%>, <%=cell.blue%>);"></div>
    <%end%>
  </div>
  <%@row_counter += 1%>
  <%end%>
  <ul>
    <%@ages.each_with_index do |count, age|%>
     <li><%=age%>: <%=count%></li>
    <%end%>
  </ul>
</div>
